body {
    background-color: black;
    color:white;
    text-align: center;
}
img {
    border:5px,white,solid;
}
.daenerys {
    width:100%;
}
.text {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}